@model IEnumerable<Models.GaleriaModel>
@{
    ViewData["Title"] = "Pibid";
    int count = 0;
}


<link rel="stylesheet" type="text/css" href="~/css/estilo.css" media="screen" />


<table style="width: 100%">
    <tr>
        <td>
            <h2>Sobre o Pibid</h2>
        </td>

        <td>
            <div style="text-align: right">
                <div class="btn-group" role="group">
                    <a asp-area="" class="btn btn-primary" asp-controller="Evento" asp-action="EventosPibid">Participações em Eventos</a>
                    <a asp-area="" class="btn btn-primary " asp-controller="Trabalhos" asp-action="TrabalhosPibid">Nossos Trabalhos</a>
                </div>
            </div>
        </td>
    </tr>
</table>





@if (Model.Count() > 0)
{

    <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">

        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            @for (int i = 1; i < Model.Count(); i++)
            {
                <li data-target="#myCarousel" data-slide-to="@i"></li>
            }
        </ol>
        <div class="carousel-inner" role="listbox">

            @foreach (var item in Model)
            {
                if (count == 0)
                {
                    <div class="item active">
                        <img src="@item.Link" alt="ASP.NET" class="img-responsive center-block" style="max-width: 60%;max-height: 60%;" />
                    </div>
                }
                else
                {
                    <div class="item">
                        <img src="@item.Link" alt="ASP.NET" class="img-responsive center-block" style="max-width: 60%;max-height: 60%;" />
                    </div>
                }
                count++;
            }

        </div>

        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>

        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
}


<div>
    <br />
    <h2>O Que é o Pibid ? </h2>
    <p>
        Ola mundo ola mundo ola mundo ola mundo ola mundo ola mundo ola mundo ola mundo ola mundo ola mundo ola mundo ola mundo ola mundo ola
        mundo ola mundo ola mundo ola mundo ola mundo ola mundo ola mundo ola mundo
    </p>

    <h2>Participantes</h2>
    <div align="left">
        <div class="estiloCardViewItem">
            <img style="height: 70%;width: 70%" title="Clique para ver mais" src="https://www.irmaosol.org.br/wp-content/uploads/2017/08/boy.png" /><br />
            <p style="white-space: nowrap;overflow: hidden;font-weight: bold;font-size: 10pt;text-align: left;margin-left: 5%">
                Tiago Nery <br />
                Coordenador do projeto
            </p>
        </div>

        <div class="estiloCardViewItem">
            <img style="height: 70%;width: 70%" title="Clique para ver mais" src="https://image.flaticon.com/icons/png/512/163/163809.png" /><br />
            <p style="white-space: nowrap;overflow: hidden;font-weight: bold;font-size: 10pt;text-align: left;margin-left: 5%">
                Josiely de Oliveira <br />
                Aluna participante do projeto
            </p>
        </div>
    </div>

    <h2>Atividades Desenvolvidas</h2>
    <p>
        Ola mundo ola mundo ola mundo ola mundo ola mundo ola mundo ola mundo ola mundo ola mundo ola mundo ola mundo ola mundo ola mundo ola
        mundo ola mundo ola mundo ola mundo ola mundo ola mundo ola mundo ola mundo
    </p>

</div>

