@model IEnumerable<Models.EventoModel>

@{
    ViewData["Title"] = "Index";
    int posicaoAtual = 0;
    int contadorItens = 0;
    int indice = 1;
}


<style>

    .estiloCarViewProdutos {
        border: 1px solid #ffffff;
        display: inline-block;
        height: 130pt;
        width: 155pt;
        margin: 3% 3%;
        text-align: center;
        background-color: #ffffff;
        /*CardView*/
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        border-radius: 5px;
    }
</style>

<table style="width: 100%">
    <tr>
        <td>
            <h2>Participações em Eventos do Pibid</h2>
        </td>

        <td>
            <div style="text-align: right">
                <div class="btn-group" role="group">
                    <a asp-area="" class="btn btn-primary" asp-controller="Home" asp-action="Pibid">Home</a>
                    <a asp-area="" class="btn btn-primary " asp-controller="Trabalhos" asp-action="TrabalhosPibid">Nossos Trabalhos</a>
                </div>
            </div>
        </td>
    </tr>
</table>

<br />
@if (Model.Count() == 0)
{
    <p style="color: orangered">Não há participações em eventos.</p>
}
else
{
    <div align="center">
        @foreach (var item in Model)
        {
            <a href="@Url.Action("Details", "Evento", new { id = item.IdEvento })" class="btn btn-default btn-sm estiloCarViewProdutos">
                <img style="height: 90%;width: 100%"   title="Clique para ver mais" src="@item.ImagemEvento" /><br />
                <p style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;font-weight: bold;font-size: 10pt;color: #2e6da4">
                    @Html.DisplayFor(modelItem => item.Titulo)
                </p>
            </a>
        }
    </div>
}
