@model IEnumerable<Models.EventoModel>

@{
    ViewData["Title"] = "Index";
}

<table style="width: 100%">
    <tr>
        <td>
            <h2>Participações em Eventos do Gaef</h2>
        </td>

        <td>
            <div style="text-align: right">
                <div class="btn-group" role="group">
                    <a asp-area="" class="btn btn-primary" asp-controller="Home" asp-action="IndexGaef">Home</a>
                    <a asp-area="" class="btn btn-primary " asp-controller="Trabalhos" asp-action="TrabalhosGaef">Nossos Trabalhos</a>
                </div>
            </div>
        </td>
    </tr>
</table>

<br />
@if (Model.Count() == 0)
{
    <p style="color: orangered">Não há participações em eventos.</p>
}
else
{
    <div align="center">
        @foreach (var item in Model)
        {
            <a href="@Url.Action("Details", "Evento", new { id = item.IdEvento })" class="btn btn-default btn-sm estiloCardViewItem">
                <img style="height: 90%;width: 100%" title="Clique para ver mais" src="@item.ImagemEvento" /><br />
                <p style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;font-weight: bold;font-size: 10pt;">
                    @Html.DisplayFor(modelItem => item.Titulo)
                </p>
            </a>
        }
    </div>
}

